@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.form__checkbox-input:checked + .form__checkbox-text::before,
.spollers__button._active::before,
.spollers__button::before,
[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  display: block;
}

.icon-check:before,
.form__checkbox-input:checked + .form__checkbox-text:before {
  content: "\e900";
}

.icon-cross:before {
  content: "\e901";
}

.icon-dollar:before {
  content: "\e902";
}

.icon-info:before {
  content: "\e903";
}

.icon-location:before {
  content: "\e904";
}

.icon-location-fill:before {
  content: "\e905";
}

.icon-minus:before,
.spollers__button._active:before {
  content: "\e906";
}

.icon-phone:before {
  content: "\e907";
}

.icon-play:before {
  content: "\e908";
}

.icon-plus:before,
.spollers__button:before {
  content: "\e909";
}

.icon-telegram:before {
  content: "\e90a";
}

.icon-whatsapp:before {
  content: "\e90b";
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  min-width: 320px;
  min-height: 100%;
  line-height: normal;
  background: #120b08;
  color: #f1efee;
}

body.lock {
  overflow: hidden;
}

body.filter-lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1.25rem;
}

.fancybox__container {
  max-width: 100% !important;
  padding: 0 !important;
}

.fancybox__slide {
  padding: 1.25rem;
}

.fancybox__backdrop {
  background: rgba(30, 30, 30, 0.4);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
}

.fancybox__content {
  color: inherit;
  background: none;
  padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: none;
}

.popup {
  display: none;
  width: 100%;
  padding: 0;
  background: none;
  max-width: 36.25rem;
}

.popup__body {
  position: relative;
  width: 100%;
  background: #f1efee;
  color: #120b08;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.625rem;
  padding: 1.56rem;
}

.popup__close {
  position: absolute;
  top: 0.94rem;
  right: 0.94rem;
  width: 1.125rem;
  height: 1.125rem;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M5 5L19 19M5 19L19 5' stroke='%231E1E1E' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center/1.5rem no-repeat;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.625rem;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.popup__title {
  line-height: 125%;
  font-size: 1.25rem;
}

.popup__subtitle {
  line-height: 150%;
  font-size: 0.875rem;
  margin-top: 1.25rem;
}

.popup__form {
  margin-top: 1.875rem;
}

.popup__form-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.title-sm {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.03125rem;
}

.title-md {
  font-weight: 500;
  line-height: 110%;
  font-size: 1.125rem;
  letter-spacing: -0.03125rem;
}

.title {
  font-size: 1.75rem;
  letter-spacing: -0.0625rem;
  font-weight: 600;
  line-height: 110%;
}

.title-lg {
  font-size: 2rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.09375rem;
}

.text-block {
  font-weight: 500;
  line-height: 155%;
  font-size: 0.8125rem;
}

.subtitle {
  font-weight: 500;
  font-size: 1rem;
  line-height: 140%;
}

.text-center {
  text-align: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  gap: 0.37rem;
  font-weight: 500;
  line-height: 125%;
  max-width: 12.125rem;
  font-size: 0.875rem;
}

.logo__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.37rem;
}

.logo__text::before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spollers {
  margin-top: 3.13rem;
  border-top: 0.0625rem solid rgba(241, 239, 238, 0.3);
}

.spollers__item {
  border-bottom: 0.0625rem solid rgba(241, 239, 238, 0.3);
}

.spollers__button {
  padding: 1.88rem 0;
  font-weight: 500;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  width: 100%;
}

.spollers__button::before {
  width: 1.375rem;
  height: 1.375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.spollers__button._active::before {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.spollers__text {
  padding-bottom: 1.88rem;
}

.blured {
  position: relative;
}

.blured::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 72.5rem;
  height: 72.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 72.5rem;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(251, 229, 127, 0.8) 0%, rgba(243, 115, 6, 0.8) 100%);
  -webkit-filter: blur(9.375rem);
          filter: blur(9.375rem);
  will-change: filter;
}

.swiper-button-next,
.swiper-button-prev {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: inherit;
  border-radius: 50%;
  -webkit-transition: color 0.3s ease 0s, opacity 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
  transition: color 0.3s ease 0s, opacity 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
  background: #a67e4e;
  color: #f1efee;
  z-index: 2;
  width: 2rem;
  height: 2rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 0.75rem;
}

.swiper-pagination {
  position: static;
  bottom: auto;
  padding: 1.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 0.5rem;
  height: 0.5rem;
  --swiper-pagination-bullet-horizontal-gap: 0.18rem;
  background: #cdd9e9;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #f1efee;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #a67e4e;
  border-radius: 0.5rem;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__input {
  text-overflow: ellipsis;
  -webkit-transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  width: 100%;
  background: #fff;
  color: #120b08;
  padding: 1.25rem;
  border: 0;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 150%;
}

.form__input::-webkit-input-placeholder {
  opacity: 0.5;
}

.form__input::-moz-placeholder {
  opacity: 0.5;
}

.form__input:-ms-input-placeholder {
  opacity: 0.5;
}

.form__input::-ms-input-placeholder {
  opacity: 0.5;
}

.form__input::placeholder {
  opacity: 0.5;
}

.form__input:hover,
.form__input:focus {
  border-color: #f1efee;
}

.form__input:disabled {
  background: #ddd;
  border-color: #ddd;
}

.form__input._error {
  outline: 1px solid #ba2028;
  background: #fff1ed;
}

.form__checkbox {
  margin-top: 1.25rem;
  display: block;
}

.form__checkbox-input.error + .form__checkbox-text::before {
  border: 0.0625rem solid red;
}

.form__checkbox-text {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.75rem;
  line-height: 150%;
  padding: 0 0 0 1.25rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__checkbox-text::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.09375rem solid #a67e4e;
  color: #a67e4e;
  width: 0.9375rem;
  height: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__checkbox-text a {
  text-decoration: underline;
  color: #a67e4e;
}

.form__btn {
  margin-top: 1.25rem;
}

.form__success {
  margin-top: 1.875rem;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 125%;
  letter-spacing: -0.0357142857em;
  background: #248b00;
  border-radius: 0.375rem;
  padding: 5.125rem 1.25rem;
}

.btn {
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #f1efee;
  font-size: 0.75rem;
  padding: 1.25rem 1.625rem;
  font-weight: 500;
  line-height: 130%;
  text-transform: uppercase;
  border-radius: 0.375rem;
}

.btn.btn-primary {
  background: #f1efee;
  color: #120b08;
}

.btn.btn-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f1efee;
  border-radius: 50%;
  z-index: -1;
  -webkit-filter: blur(3.125rem);
          filter: blur(3.125rem);
}

.btn.btn-white {
  background: #fff;
  color: #2b3239;
}

.btn.btn-blue {
  background: #2d87ff;
  color: #fff;
}

.btn.btn-blue:disabled,
.btn.btn-blue[aria-disabled=true] {
  background: #a4cafc;
  opacity: 1;
}

.btn.btn-blue::before {
  font-size: 1.25em;
}

.btn.btn-white-outline {
  border: 0.0625rem solid #fff;
  color: #fff;
}

.btn.btn-dark {
  background: #120b08;
  border: 0.0625rem solid #120b08;
  color: #fff;
}

.btn.btn-grey {
  background: #f3f6fa;
  color: #65717f;
}

.btn.btn-secondary {
  background: #81a6ca;
  color: #fff;
}

.btn.btn-secondary::before {
  font-size: 1.25em;
}

.btn.btn-fullwidth {
  width: 100%;
}

.btn:disabled,
.btn[aria-disabled=true] {
  cursor: default;
  opacity: 0.7;
  pointer-events: none;
}

.header {
  padding: 1.25rem 0;
  color: #f1efee;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.87rem;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f1efee;
  font-weight: 600;
  gap: 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
}

.header__menu-link {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5625rem;
  gap: 0.62rem;
}

.header__social {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  z-index: 11;
  color: #fff;
  width: 1.625rem;
  height: 1.625rem;
  margin-right: left;
}

.icon-menu span {
  display: block;
  padding: 0.09375rem 0rem;
  width: 100%;
  -webkit-transition: opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
  transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  will-change: transform;
}

.icon-menu span::before {
  content: "";
  display: block;
  height: 0.0625rem;
  border-radius: 0.0625rem;
  width: 0.9375rem;
  margin-left: auto;
  background: currentColor;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  will-change: transform;
}

.header.open-menu .icon-menu span {
  -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.header.open-menu .icon-menu span::before {
  -webkit-transition: width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  transition: width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
  transition: transform 0.45s ease 0.35s, width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
}

.header.open-menu .icon-menu span:first-child {
  -webkit-transform: translateY(0.25rem);
      -ms-transform: translateY(0.25rem);
          transform: translateY(0.25rem);
}

.header.open-menu .icon-menu span:first-child::before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.header.open-menu .icon-menu span:nth-child(2) {
  opacity: 0;
}

.header.open-menu .icon-menu span:nth-child(3) {
  -webkit-transform: translateY(-0.25rem);
      -ms-transform: translateY(-0.25rem);
          transform: translateY(-0.25rem);
}

.header.open-menu .icon-menu span:nth-child(3)::before {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.footer {
  padding-bottom: 1.87rem;
}

.footer__body {
  border-radius: 0.375rem;
  background: #f1efee;
  color: #120b08;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.875rem 1.25rem 1.875rem 1.5625rem;
}

.footer__title {
  margin-top: 1.25rem;
  max-width: 28rem;
}

.footer__menu {
  margin-top: 2.25rem;
}

.footer__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  row-gap: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 500;
  font-size: 0.875rem;
}

.footer__menu-link {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer__menu-link span {
  color: #a67e4e;
  text-decoration: underline;
}

.footer__bottom {
  margin-top: 3.13rem;
  display: -ms-grid;
  display: grid;
  width: 100%;
}

.footer__privacy {
  color: rgba(18, 11, 8, 0.3);
  font-size: 0.75rem;
  font-weight: 500;
  max-width: 12rem;
  text-align: left;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 0.9375rem;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__socials {
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.62rem;
}

.footer__social {
  color: #a67e4e;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer__phone {
  margin-top: 1.25rem;
  color: rgba(18, 11, 8, 0.6);
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-weight: 500;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer__phone::before {
  font-size: 1.125rem;
  color: #a67e4e;
}

.footer__address {
  margin-top: 1.25rem;
  color: rgba(18, 11, 8, 0.6);
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-weight: 500;
}

.footer__address::before {
  font-size: 1rem;
  color: #a67e4e;
}

.footer__privacy-policy {
  color: rgba(18, 11, 8, 0.3);
  font-size: 0.75rem;
  font-weight: 500;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  margin-top: 2.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.promo {
  padding-top: 2.5rem;
  padding-bottom: 3.75rem;
}

.promo__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 40.625rem;
  margin: 0 auto;
  text-align: center;
}

.promo__description {
  color: rgba(241, 239, 238, 0.7);
  text-align: center;
  font-weight: 600;
  line-height: 150%;
  max-width: 27.25rem;
  font-size: 0.8125rem;
  margin: 1.88rem auto 0;
}

.promo__button {
  margin-top: 1.875rem;
}

.promo__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(241, 239, 238, 0.7);
  font-weight: 500;
  line-height: 140%;
  margin-top: 1.87rem;
  font-size: 0.8125rem;
}

.promo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.94rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  z-index: 2;
  margin-top: 1.25rem;
}

.promo__iegorlyph {
  max-width: 1.625rem;
}

.promo__hexagram em {
  font-style: normal;
}

.promo__image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  position: relative;
}

.promo__image img {
  border-radius: 0.375rem;
}

.promo__image-wrapper {
  position: relative;
}

.promo__image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/noise-dense.png") 0 0/cover no-repeat;
  opacity: 0.05;
  border-radius: 0.375rem;
}

.promo__image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/noise-sparse.png") 0 0/cover no-repeat;
  opacity: 0.2;
  border-radius: 0.375rem;
}

.promo__quote {
  margin-left: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: auto;
  width: 17.5rem;
  text-align: center;
  margin-top: 7.5rem;
  font-size: 1rem;
  line-height: 140%;
}

.desc {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.desc__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.desc__list {
  margin-left: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  row-gap: 3.125rem;
}

.desc__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1.5rem;
}

.desc__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.875rem;
  height: 0.0625rem;
  border-radius: 0.0625rem;
  background: -webkit-gradient(linear, left top, right top, from(#f1efee), to(transparent));
  background: linear-gradient(90deg, #f1efee, transparent);
}

.desc__subtitle {
  max-width: 15.6rem;
}

.desc__text {
  margin-top: 1.25rem;
  color: rgba(241, 239, 238, 0.6);
}

.waiting {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.waiting__description {
  text-align: left;
  margin: 2.5rem 0em 0em 0em;
  max-width: 85%;
}

.waiting__list {
  display: -ms-grid;
  display: grid;
  margin-top: 3.125rem;
  gap: 2.5rem;
}

.waiting__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.waiting__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.waiting__text {
  margin-left: 1.25rem;
  max-width: 19rem;
}

.waiting__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.125rem;
}

.dark-retrit {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.dark-retrit__title {
  position: relative;
}

.dark-retrit__title::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 65%;
  left: 0;
  height: 100%;
  background: url("../img/dark-retrit-decor.svg") 0 0/contain no-repeat;
}

.dark-retrit__description {
  margin-top: 2.5rem;
}

.dark-retrit__text {
  max-width: 29.3125rem;
}

.dark-retrit__text:not(:last-child) {
  margin-bottom: 1rem;
}

.goal {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.goal__content {
  display: -ms-grid;
  display: grid;
  margin-top: 2.5rem;
  gap: 1rem;
}

.goal__button {
  margin-top: 2.5rem;
  width: 100%;
}

.goal__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.goal__text {
  line-height: 140%;
}

.goal__quote {
  text-align: center;
  margin-top: 2.75rem;
}

.goal__author {
  display: contents;
}

.goal__author-main {
  color: rgba(241, 239, 238, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.goal__author-name {
  font-size: 1rem;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.03125rem;
}

.goal__author-description {
  font-weight: 500;
  line-height: 155%;
  font-size: 0.75rem;
  margin-top: 0.75rem;
}

.goal__author-image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 10.25rem;
  height: 10.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.goal__author-image::before {
  content: "";
  position: absolute;
  inset: -1.25rem;
  border-radius: 50%;
  border-right: 0.0625rem solid #f1efee;
}

.goal__author-image img {
  border-radius: 50%;
}

.place {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.place__content {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

.place__description {
  margin-top: 2.5rem;
  line-height: 140%;
}

.place__description-item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.place__slider {
  border-radius: 0.375rem;
  min-width: 0;
  max-width: 100%;
}

.elements {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.elements__description {
  margin: 2.5rem 0em 0em 0em;
}

.elements__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 3.125rem;
  margin: 3.125rem 0em 0em 0em;
}

.elements__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f1efee;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0em 0em 0em 5.25rem;
}

.elements__icon {
  width: 4.4375rem;
  height: 4.4375rem;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.elements__icon--lg {
  height: 8rem;
}

.elements__text {
  margin-top: 1.25rem;
}

.roadmap {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.roadmap__info {
  max-width: 30rem;
  margin: 2.5rem auto 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roadmap__description::before {
  font-size: 1.25rem;
  margin-bottom: 0.9375rem;
}

.roadmap__btn {
  margin-top: 2.5rem;
  width: 100%;
}

.preparation {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.preparation__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.63rem;
}

.preparation__address::before {
  width: 1.25rem;
  font-size: 1.25rem;
  height: 1.25rem;
}

.preparation__title {
  margin-top: 1.25rem;
  max-width: 37rem;
  position: relative;
}

.preparation__title::before {
  content: "";
  position: absolute;
  bottom: -3.13rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/preparation-decor.svg") 0 0/contain no-repeat;
}

.preparation__list {
  display: -ms-grid;
  display: grid;
  margin-top: 3.35rem;
  gap: 3rem;
}

.preparation__image {
  height: 13.75rem;
}

.preparation__image img {
  border-radius: 0.375rem;
}

.preparation__subtitle {
  margin-top: 1.5rem;
}

.preparation__text {
  margin-top: 1.25rem;
}

.preparation__sublist {
  list-style: disc;
  padding-left: 1.5em;
}

.price {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.price__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.price__main {
  display: contents;
}

.price__title {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.price__list {
  display: -ms-grid;
  display: grid;
  gap: 1.87rem;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  margin-top: 0.5rem;
}

.price__item {
  padding-left: 2rem;
  position: relative;
}

.price__item::before {
  font-size: 1.25rem;
  position: absolute;
  top: 0;
  left: 0;
  color: #a67e4e;
}

.price__sublist {
  padding-left: 1.5em;
  list-style: disc;
}

.price__side {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0.375rem;
  padding: 1.875rem;
  background: radial-gradient(50% 50% at 50% 50%, #fbe57f 0%, #f37306 100%);
  position: relative;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 100%;
}

.price__side::before {
  content: "";
  position: absolute;
  inset: -3.38rem;
  border-radius: 50%;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(251, 229, 127, 0.8) 0%, rgba(243, 115, 6, 0.8) 100%);
  -webkit-filter: blur(9.375rem);
          filter: blur(9.375rem);
}

.price__amount {
  margin-top: 1.56rem;
}

.price__btn {
  width: 100%;
  margin-top: 1.25rem;
}

.price__note {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  line-height: 155%;
  font-size: 0.8125rem;
  margin-top: 1.25rem;
}

.banner {
  background: url("../img/banner.jpg") center bottom/cover no-repeat, #000;
  padding: 6.25rem 0 14.75rem;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/noise-dense.png") 0 0/cover no-repeat;
  opacity: 0.05;
  border-radius: 0.375rem;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/noise-sparse.png") 0 0/cover no-repeat;
  opacity: 0.05;
  border-radius: 0.375rem;
}

.banner__tagline {
  max-width: 42.75rem;
}

.banner__tagline-row:not(:last-child) {
  margin-bottom: 1.325rem;
}

.reviews {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.reviews__slider {
  margin-top: 2.5rem;
  overflow: visible;
}

.reviews__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.56rem;
  width: 16.25rem;
}

.reviews__link {
  position: relative;
  z-index: 1;
  border-radius: 0.375rem;
  overflow: hidden;
  z-index: 1;
  height: 22.5rem;
}

.reviews__link::before {
  font-size: 2.5625rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.reviews__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.375rem;
  background: rgba(18, 11, 8, 0.3);
  -webkit-backdrop-filter: blur(0.46875rem);
          backdrop-filter: blur(0.46875rem);
  z-index: 1;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.reviews__image {
  border-radius: 0.375rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__author {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 110%;
}

.faq {
  padding-top: 3.75rem;
  padding-bottom: 6.25rem;
}

@media (min-width: 575.98px) {
  [class*=__container] {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    max-width: 33.75rem;
  }

  .popup__body {
    padding: 2.5rem;
  }

  .popup__close {
    width: 2.5rem;
    height: 2.5rem;
  }

  .popup__title {
    font-size: 2.375rem;
  }

  .popup__subtitle {
    font-size: 1rem;
  }

  .promo__image::before {
    content: "";
    position: absolute;
    top: -6.75rem;
    left: -11.1875rem;
    width: 26.875rem;
    height: 20.625rem;
    background: url("../img/promo-decor-1.svg") 0 0/contain no-repeat;
    z-index: -1;
    pointer-events: none;
  }

  .promo__image::after {
    content: "";
    position: absolute;
    bottom: -6.25rem;
    right: -5.625rem;
    width: 34.125rem;
    height: 17.1875rem;
    background: url("../img/promo-decor-2.svg") 100% 100%/contain no-repeat;
    z-index: -1;
    pointer-events: none;
  }

  .waiting__list {
    gap: 3.75rem;
    margin-top: 5rem;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .waiting__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .waiting__text {
    margin-top: 1.25rem;
    margin-left: 0;
  }

  .waiting__button {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .goal__button {
    width: auto;
  }

  .place__title br {
    display: none;
  }

  .elements__list {
    row-gap: 5.5rem;
    margin: 4.44rem -1.25rem 0;
  }

  .elements__item {
    text-align: center;
    padding: 0 1.25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .elements__icon {
    width: 9.375rem;
    height: 9.375rem;
    position: static;
    top: auto;
    left: auto;
  }

  .elements__icon--lg {
    height: 12.94163rem;
    position: relative;
  }

  .elements__icon--lg img {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .elements__name {
    margin-top: 1.25rem;
  }

  .roadmap__btn {
    width: auto;
  }

  .preparation__list {
    gap: 2.5rem;
    margin-top: 3.13rem;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .preparation__image {
    height: 28.75rem;
  }

  .preparation__subtitle {
    margin-top: 1.88rem;
  }

  .price__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 743.98px) {
  .wrapper {
    overflow-x: clip;
  }

  [class*=__container] {
    max-width: 44rem;
  }

  .title-sm {
    font-size: 1.25rem;
  }

  .title-md {
    font-size: 1.75rem;
    letter-spacing: -0.0625rem;
  }

  .title {
    font-size: 2.25rem;
    letter-spacing: -0.125rem;
  }

  .title-lg {
    font-size: 3.125rem;
    letter-spacing: -0.125rem;
  }

  .text-block {
    font-size: 0.875rem;
  }

  .subtitle {
    font-size: 1.125rem;
    line-height: 155%;
  }

  .logo {
    font-size: 1rem;
  }

  .spollers__button {
    font-size: 1.25rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 2.75rem;
    height: 2.75rem;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 0.875rem;
  }

  .form__btn {
    min-height: 4.0625rem;
  }

  .btn {
    font-size: 0.875rem;
  }

  .header__menu-list {
    font-size: 0.875rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .icon-menu {
    display: none;
  }

  .footer__body {
    padding: 3.12rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .footer__menu {
    margin-top: 1.88rem;
  }

  .footer__menu-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.87rem;
    row-gap: 0.5rem;
    font-size: 0.875rem;
  }

  .promo__description {
    margin: 2rem auto 0;
    font-size: 1rem;
  }

  .promo__button {
    margin-top: 2.5rem;
  }

  .promo__bottom {
    font-size: 0.875rem;
  }

  .promo__quote {
    line-height: inherit;
    font-size: inherit;
    margin-top: 3.75rem;
  }

  .desc__list {
    gap: 4rem;
    row-gap: 3.12rem;
  }

  .desc__item {
    padding-top: 1.56rem;
  }

  .desc__item::before {
    width: 2.5rem;
  }

  .waiting__title {
    text-align: center;
  }

  .waiting__description {
    max-width: 26rem;
    margin: 3.12rem auto 0;
    text-align: center;
  }

  .dark-retrit__title span {
    text-indent: 50%;
    display: block;
  }

  .dark-retrit__title::before {
    top: 5%;
    width: 55%;
  }

  .dark-retrit__description {
    margin-top: 3.12rem;
    width: 50%;
    margin-left: auto;
  }

  .dark-retrit__text:not(:last-child) {
    margin-bottom: 2rem;
  }

  .goal__title {
    line-height: 100%;
    text-indent: 50%;
  }

  .goal__title span {
    display: block;
    text-indent: 0;
  }

  .goal__content {
    gap: 0;
    margin-top: 3.35rem;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .goal__button {
    margin-top: 3.25rem;
  }

  .goal__text {
    max-width: 20rem;
    line-height: 155%;
  }

  .goal__quote {
    margin-top: 0;
    max-width: 29.25rem;
    text-align: left;
  }

  .goal__author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1.25rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .goal__author-main {
    margin-top: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .goal__author-name {
    font-size: 1.125rem;
  }

  .goal__author-description {
    margin-top: 0.63rem;
    font-size: 0.875rem;
  }

  .goal__author-image {
    margin-top: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .elements__title {
    text-align: center;
  }

  .elements__description {
    text-align: center;
    max-width: 27.5rem;
    margin: 3.13rem auto 0;
  }

  .roadmap__info {
    margin: 3.13rem auto 0;
  }

  .roadmap__description::before {
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
  }

  .roadmap__btn {
    margin-top: 3.12rem;
  }

  .price__main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: block;
  }

  .price__list {
    gap: 3.12rem;
    margin-top: 3.12rem;
  }

  .price__side {
    width: 25.625rem;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .price__btn {
    margin-top: 1.56rem;
  }

  .price__note {
    margin-top: 1.56rem;
    font-size: 0.875rem;
  }

  .banner__tagline {
    padding-left: 3rem;
  }

  .banner__tagline-row:not(:last-child) {
    margin-bottom: 2rem;
  }

  .reviews {
    padding-top: 11.25rem;
    padding-bottom: 5.625rem;
  }

  .reviews__slider {
    margin-top: 3.5rem;
  }

  .faq {
    padding-top: 5.625rem;
  }
}

@media (min-width: 991.98px) {
  [class*=__container] {
    max-width: 60rem;
  }

  .header__menu-list {
    gap: 1.875rem;
  }

  .footer__bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__privacy {
    margin-top: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .footer__main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .footer__privacy-policy {
    text-align: right;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }

  .promo {
    padding-bottom: 6.25rem;
    padding-top: 3.125rem;
  }

  .promo__bottom {
    margin-top: 3.12rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 3.2rem;
  }

  .promo__text {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 9.625rem;
    margin-right: -3.3rem;
  }

  .promo__iegorlyph {
    max-width: 2.25rem;
  }

  .promo__image {
    margin-right: 1rem;
    max-width: 38.5rem;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .promo__image::before {
    width: 33.125rem;
    height: 26.875rem;
  }

  .promo__image::after {
    bottom: -3rem;
    right: -10.9375rem;
    width: 46.625rem;
    height: 23.4375rem;
    z-index: 1;
  }

  .promo__quote {
    margin-top: 0;
    text-align: left;
    width: 8.75rem;
    margin-right: 0;
  }

  .desc {
    padding-bottom: 5.625rem;
    padding-top: 6.25rem;
  }

  .desc__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .desc__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .waiting {
    padding-bottom: 5.625rem;
    padding-top: 5.625rem;
  }

  .waiting__list {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .dark-retrit {
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;
  }

  .goal {
    padding-top: 5.625rem;
    padding-bottom: 6.875rem;
  }

  .place {
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;
  }

  .place__content {
    gap: 0;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .place__description {
    line-height: 155%;
    margin-top: 3.13rem;
    max-width: 28.3125rem;
  }

  .place__description-item:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .elements {
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;
  }

  .elements__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
  }

  .roadmap {
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;
  }

  .preparation {
    padding-top: 5.625rem;
    padding-bottom: 6.875rem;
  }

  .preparation__list {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .price {
    padding-top: 6.875rem;
    padding-bottom: 10.625rem;
  }

  .price__body {
    gap: 2.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .banner {
    padding: 6.25rem 0 24rem;
  }
}

@media (min-width: 1199.98px) {
  body.lock {
    overflow: visible;
  }

  [class*=__container] {
    max-width: 72.5rem;
  }

  .title-sm {
    font-size: 1.375rem;
  }

  .title {
    font-size: 2.75rem;
  }

  .title-lg {
    font-size: 4.125rem;
  }

  .text-block {
    font-size: 1rem;
  }

  .promo__bottom {
    padding-left: 6.2rem;
  }

  .promo__image {
    max-width: 47.5rem;
  }

  .goal__text {
    max-width: 28.75rem;
  }

  .price__side {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (max-width: 743.98px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 2rem;
    background: #120b08;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .header.open-menu .header__menu {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .dark-retrit__text {
    line-height: 140%;
  }

  .place__slide {
    aspect-ratio: 1/1;
  }
}

@media (max-width: 575.98px) {
  .promo__image::before {
    content: "";
    position: absolute;
    top: -1.375rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
    background: url("../img/promo-decor-mobile.svg") center 0/contain no-repeat;
  }
}

@media (any-hover: hover) {
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: #cfdbeb;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #83643e;
  }

  .form__checkbox-text a:hover {
    text-decoration: none;
  }

  .btn.btn-primary:hover {
    background: #82a6ca;
    color: #fff;
  }

  .btn.btn-white:hover {
    background: #82a6ca;
    color: #fff;
  }

  .btn.btn-blue:hover {
    background: #006bf9;
  }

  .btn.btn-white-outline:hover {
    background: #fff;
    color: #f1efee;
  }

  .btn.btn-dark:hover {
    background: #f1efee;
    color: #120b08;
  }

  .btn.btn-grey:hover {
    background: #c5d1e0;
    color: #f1efee;
  }

  .btn.btn-secondary:hover {
    background: #5d8dbb;
  }

  .header__menu-link:hover {
    color: #a67e4e;
  }

  .header__social:hover {
    color: #a67e4e;
  }

  .footer__menu-link:hover {
    color: #a67e4e;
  }

  .footer__social:hover {
    color: #83643e;
  }

  .footer__phone:hover {
    color: #a67e4e;
  }

  .footer__privacy-policy:hover {
    color: #a67e4e;
  }

  .reviews__link:hover::after {
    opacity: 0;
  }
}