.form {
	// .form__input
	&__input {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
		width: 100%;
		background: #fff;
		color: #120b08;
		padding: rem(20);
		border: 0;
		border-radius: rem(6);

		font-size: 0.875rem;
		line-height: 150%;
		&::placeholder {
			opacity: 0.5;
		}

		&:hover,
		&:focus {
			border-color: $text;
		}

		&:disabled {
			background: #ddd;
			border-color: #ddd;
		}
		&._error {
			outline: 1px solid #ba2028;
			background: #fff1ed;
		}
	}

	// .form__checkbox
	&__checkbox {
		margin-top: 1.25rem;
		display: block;
	}
	// .form__checkbox-input
	&__checkbox-input {
		&:checked {
			& + .form__checkbox-text {
				&::before {
					@extend %ic, .icon-check;
				}
			}
		}
		&.error {
			& + .form__checkbox-text {
				&::before {
					border: rem(1) solid red;
				}
			}
		}
	}
	// .form__checkbox-text
	&__checkbox-text {
		position: relative;
		display: block;
		width: fit-content;

		font-size: 0.75rem;
		line-height: 150%;
		padding: 0 0 0 1.25rem;
		cursor: pointer;
		user-select: none;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			border: rem(1.5) solid #a67e4e;
			color: #a67e4e;
			width: rem(15);
			height: rem(15);

			display: flex;
			justify-content: center;
			align-items: center;
		}
		& a {
			text-decoration: underline;
			color: #a67e4e;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	// .form__btn
	&__btn {
		margin-top: 1.25rem;
		@media (min-width: $md4) {
			min-height: rem(65);
		}
	}
	&__success {
		margin-top: rem(30);
		text-align: center;
		color: #fff;
		font-weight: 500;
		font-size: rem(28);
		line-height: 125%;
		letter-spacing: em(-1, 28);
		background: #248b00;
		border-radius: rem(6);
		padding: rem(82) rem(20);
	}
}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
	transition: all 0.3s ease 0s;
	background: #f1efee;
	font-size: 0.75rem;
	@media (min-width: $md4) {
		font-size: 0.875rem;
	}
	padding: 1.25rem 1.625rem;
	font-weight: 500;
	line-height: 130%;
	text-transform: uppercase;
	border-radius: 0.375rem;
	&.btn-primary {
		background: #f1efee;
		color: #120b08;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #f1efee;
			border-radius: 50%;
			z-index: -1;
			filter: blur(rem(50));
		}
		@media (any-hover: hover) {
			&:hover {
				background: #82a6ca;
				color: #fff;
			}
		}
	}
	&.btn-white {
		background: #fff;
		color: #2b3239;
		@media (any-hover: hover) {
			&:hover {
				background: #82a6ca;
				color: #fff;
			}
		}
	}
	&.btn-blue {
		background: #2d87ff;
		color: #fff;
		@media (any-hover: hover) {
			&:hover {
				background: darken($color: #2d87ff, $amount: 10);
			}
		}
		&:disabled,
		&[aria-disabled="true"] {
			background: #a4cafc;
			opacity: 1;
		}
		&::before {
			font-size: 1.25em;
		}
	}
	&.btn-white-outline {
		border: rem(1) solid #fff;
		color: #fff;
		@media (any-hover: hover) {
			&:hover {
				background: #fff;
				color: $text;
			}
		}
	}
	&.btn-dark {
		background: #120b08;
		border: rem(1) solid #120b08;
		color: #fff;
		@media (any-hover: hover) {
			&:hover {
				background: #f1efee;
				color: #120b08;
			}
		}
	}
	&.btn-grey {
		background: #f3f6fa;
		color: #65717f;
		@media (any-hover: hover) {
			&:hover {
				background: #c5d1e0;
				color: $text;
			}
		}
	}
	&.btn-secondary {
		background: #81a6ca;
		color: #fff;
		@media (any-hover: hover) {
			&:hover {
				background: darken($color: #81a6ca, $amount: 10);
			}
		}
		&::before {
			font-size: 1.25em;
		}
	}
	&.btn-fullwidth {
		width: 100%;
	}
	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		opacity: 0.7;
		pointer-events: none;
	}
}

// .switcher {
// 	// .switcher__input
// 	&__input {
// 		&:checked {
// 			& + .switcher__btn {
// 				&::before {
// 					left: rem(2);
// 				}
// 				background: #81a6ca;
// 			}
// 		}
// 	}
// 	// .switcher__btn
// 	&__btn {
// 		position: relative;
// 		width: rem(35);
// 		height: rem(20);
// 		border-radius: 6.25rem;
// 		background: #81a6ca;
// 		display: block;
// 		cursor: pointer;
// 		transition: background-color 0.3s ease 0s;
// 		&::before {
// 			content: "";
// 			position: absolute;
// 			top: rem(2);
// 			left: rem(17);
// 			width: rem(16);
// 			transition: left 0.3s ease 0s;
// 			border-radius: 50%;
// 			background: #fff;
// 			height: calc(100% - rem(4));
// 		}
// 	}
// }
